body {
    background: #202124;
    color: #ccc;
    font-family: sans-serif;
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .person {
    background: #3b4045;
    border-radius: 8px;
    width: 346px;
    height: 310px;
    padding: 2px;
    margin: 4px;
  }
  
  .symbol {
    height: 110px;
    width: 110px;
    position: relative;
    left: 120px;
    top: 40px;
    border-radius: 50%;
     object-fit: cover;
  }

  .name {
    position: relative;
    left: 120px;
    bottom: -130px;
    padding: 2px;
    font-size: 15px;
  }
  
  .mic {
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 12px;
    padding: 4px;
    position: relative;
    top: -2px;
    left: 300px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    margin-top: 5px;
    padding: 10px;
    font-weight: bolder;
    align-items: center;
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
    flex-wrap: wrap;
  }
  
  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 8px;
    margin: 0px 5px;
    font-size: 20px;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
  }
  
  .bg-gray {
    background: #3b4045;
  }
  
  .bg-dark-gray {
    background: #202124;
    position: absolute;
  }
  
  .bg-red {
    background: #cc0000;
  }
  
  .meeting-controls {
    position: relative;
    left: 230px;
  }

  .meeting-chat {
    position: relative;
    left: 370px;
  }


 .chatbox {
  height: 85vh;
  width: 25vw;
  background: #fff;
  position: absolute;
  left: 944px;
  bottom: 83px;
  border-radius: 10px;
} 
.rit {
  color: #000;
  font-size: 1.125rem;
  padding: 15px;
  position: absolute;
}
.ri {
  color: #000;
  font-size: 1.125rem;
  padding: 15px;
  position: absolute;
  left: 280px;
}
.r {
  color: black;
  background: #f1f7f9;
  font-size: 15px;
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  top: 73px;
}

.rite {
  COLOR: black;
  position: relative;
  bottom: -155px;
  left: 10px;
  font-size: 15px;
}

.v {
  COLOR: black;
    position: relative;
    bottom: -155px;
    left: 28px;
    font-size: 14px;
}

.verma {
  COLOR: rgb(15, 15, 15);
  position: relative;
  bottom: -181px;
  left: -132px;
  font-size: 12px;
}


.input input{
  margin: 5px 10px;
  padding: 20px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  position: relative;
  bottom: -650px;
  left: 7px;
  background-color: #f5f0f0;
}


